.wrapper {
    background: url('../../../assets/images/background-blur.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}

#fof {
    display: block;
    width: 100%;
    padding: 150px 0;
    line-height: 1.6em;
    text-align: center;
}

#fof .hgroup {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

#fof .hgroup h1, #fof .hgroup h2 {
    margin: 0 0 0 40px;
    padding: 0;
    float: left;
    text-transform: uppercase;
}

#fof .hgroup h1 {
    margin-top: -90px;
    font-size: 200px;
}

#fof .hgroup h2 {
    font-size: 60px;
}

#fof .hgroup h2 span {
    display: block;
    font-size: 30px;
}

#fof p {
    margin: 25px 0 0 0;
    padding: 0;
    font-size: 16px;
}

#fof p:first-child {
    margin-top: 0;
}

#fof a {
    color: rgba(212, 27, 27, 0.637);
    font-weight: 700;
}