<div id="bg"></div>

<div class="wrapper row2">
  <div id="container"
       class="clear">

    <section id="fof"
             class="clear">
      <div class="hgroup clear">
        <h1>404</h1>
        <h2>Error !
          <span>Page Not Found</span>
        </h2>
      </div>
      <p>For Some Reason The Page You Requested Could Not Be Found On Our Server</p>
      <p>
        <a href="javascript:history.go(-1)">&laquo; Go Back</a> /
        <a routerLink="/">Go Home &raquo;</a>
      </p>
    </section>
  </div>
</div>