<div id="bg"></div>

<div id="wrapper"
     class="mvc-sidebar">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav nav-pills nav-stacked"
        id="menu">

      <div class="sidebar-header">
        <h3 translate>Management</h3>
      </div>

      <li>
        <a [routerLink]="['subscribers']">
          Subscribers
        </a>
      </li>
      <li *ngIf="authService.currentUser.allowedToCreateUser">
        <a [routerLink]="['users']">
          Operators
        </a>
      </li>
      <li>
        <a [routerLink]="['action-logs']">
          Logs
        </a>
      </li>
      <hr>
      <li>
        <a (click)="onLogout()">
          Logout
        </a>
      </li>
    </ul>
  </div>

  <div class="visible-xs">
    <button class="btn btn-primary"
            (click)="openOrCloseNavbar()"
            style="margin-bottom:10px"><i class="fa fa-bookmark"></i> </button>
  </div>

  <div id="page-content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>