#bg {
    background: url('../../../assets/images/website-backgrounds.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}


/* Toggle Styles */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
  }
  
  #wrapper.toggled {
    padding-left: 250px;
    overflow: hidden;
  }
  
  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    /*the height of the navbar*/
    top: 0px;
    bottom: 0;
    overflow-x: hidden;
    margin-left: -250px;
    overflow-y: auto;
    background: rgba(34, 34, 34, 0.8);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  
  #page-content-wrapper {
    /* padding-top: 70px; */
    position: absolute;
    width: 100%;
    overflow-x: inherit;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
  }
  
  .fixed-brand {
    width: auto;
  }
  
  
  /* Sidebar Styles */
  .nav-pills>li>a {
    border-radius: 0px !important;
  }
  
  .side-navbar-options {
    margin-top: 40px;
  }
  
  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
  }
  
  .sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
  }
  
  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
  }
  
  .sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    border-left: 2px solid red;
  }
  
  .sidebar-nav li a:active,
  .sidebar-nav li a:focus {
    text-decoration: none;
  }
  
  .sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
  }
  
  .sidebar-nav>.sidebar-brand a {
    color: white;
  }
  
  .sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
  }
  
  .xyz {
    min-width: 340px;
  }
  
  #menu .opened {
    background-color: black;
    border-left: 3px solid green;
    color: white;
  }
  
  .no-margin {
    margin: 0;
  }
  
  .sidebar-nav .sidebar-header {
    padding: 35px 0px;
    text-align: center;
    color: white;
    /*background: rgba(0, 0, 0, 0.15);*/
  }
  
  .nav-pills>li.active>a,
  .nav-pills>li.active>a:focus,
  .nav-pills>li.active>a:hover {
    background-color: rgba(0, 0, 0, 1.0);
    border-left: 2px solid red;
  }
  
  /* right click in trees */
  body .ui-contextmenu {
    width: auto !important;
  }
  
  /* for desktop */
  @media(min-width:769px) {
    #wrapper {
      padding-left: 250px;
    }
  
    .fixed-brand {
      width: 250px;
    }
  
    #wrapper.toggled {
      padding-left: 0;
    }
  
    #sidebar-wrapper {
      width: 250px;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      width: 250px;
    }
  
    #wrapper.toggled-2 #sidebar-wrapper {
      width: 50px;
    }
  
    #wrapper.toggled-2 #sidebar-wrapper:hover {
      width: 250px;
    }
  
    #page-content-wrapper {
      /* padding-top: 85px; */
      position: relative;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
  
    #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
      padding-left: 250px;
    }
  
    #wrapper.toggled-2 #page-content-wrapper {
      position: relative;
      margin-right: 0;
      margin-left: -200px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      width: auto;
    }
  }
  
  /* end sidenavbar */



#sidebar-wrapper {
    overflow: hidden !important;
}

.sidebar-header {
    padding: 5px 0px;
}

/* 
.sidebar-nav .sidebar-header{
    background-color: transparent;
    
} */

.root {
    width: 100%;
}

ul {
    padding-inline-start: 10px !important;
    list-style: none;
}

a {
    cursor: pointer;
}

a[aria-expanded="true"] {
    border-left: 3px solid red;
    background: black;
    color: white;
}

#wrapper {
    overflow: hidden !important;
    margin-top: 25px;
}

.fa {
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

#menu .fa:hover {
    color: #fafd25;
}

#menu {
    overflow-y: auto;
    height: 100%;
}

#nav-actions {
    padding-left: 12px;
    padding-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: flow-root;
}

#hoveredMode{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: white;
    font-size: 24px;
    padding-top: 10px;
}

.ellipsis{
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    display: block;
}

li{
    font-weight: bold;
}