<h1>
  Subscribers Management
</h1>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Index</th>
        <th class="clickable"
            (click)="onToggleSort('macAddress')">
          <span *ngIf="sorts.macAddress == 1"
                class="glyphicon glyphicon-sort-by-attributes"></span>
          <span *ngIf="sorts.macAddress == -1"
                class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          Mac Address
        </th>
        <th class="clickable"
            (click)="onToggleSort('serialNumber')">
          <span *ngIf="sorts.serialNumber == 1"
                class="glyphicon glyphicon-sort-by-attributes"></span>
          <span *ngIf="sorts.serialNumber == -1"
                class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          License Key
        </th>
        <th class="clickable"
            (click)="onToggleSort('email')">
          <span *ngIf="sorts.email == 1"
                class="glyphicon glyphicon-sort-by-attributes"></span>
          <span *ngIf="sorts.email == -1"
                class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          Email
        </th>
        <th class="clickable"
            (click)="onToggleSort('fullName')">
          <span *ngIf="sorts.fullName == 1"
                class="glyphicon glyphicon-sort-by-attributes"></span>
          <span *ngIf="sorts.fullName == -1"
                class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          Full Name
        </th>
        <th class="clickable"
            (click)="onToggleSort('phone')">
          <span *ngIf="sorts.phone == 1"
                class="glyphicon glyphicon-sort-by-attributes"></span>
          <span *ngIf="sorts.phone == -1"
                class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          Phone
        </th>
        <th class="clickable"
            (click)="onToggleSort('lastExperationDate')">
          <span *ngIf="sorts.lastExperationDate == 1"
                class="glyphicon glyphicon-sort-by-attributes"></span>
          <span *ngIf="sorts.lastExperationDate == -1"
                class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          Support Experation Date
        </th>
        <th style="text-align: center;">
          Support Status
        </th>
        <th class="action-column">
          <button class="btn btn-success"
                  style="padding: 0px 12px"
                  [disabled]="!authService.currentUser.allowedToCreateSubscriber"
                  (click)="onOpenModal('Add')">
            <span class="glyphicon glyphicon-plus"></span>
          </button>

          <button class="btn btn-default"
                  [ngClass]="{'btn-default': !searchActive, 'btn-primary': searchActive}"
                  style="padding: 0px 12px; margin-left: 5px;"
                  (click)="searchActive = !searchActive">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </th>
      </tr>
      <tr [hidden]="!searchActive">
        <th></th>
        <th>
          <input type="text"
                 class="form-control"
                 id="filterMacAddress"
                 name="filterMacAddress"
                 [(ngModel)]="filters.macAddress"
                 (ngModelChange)="filterBy()">
        </th>
        <th>
          <input type="text"
                 class="form-control"
                 id="filterLastSerialNumber"
                 name="filterLastSerialNumber"
                 [(ngModel)]="filters.lastSerialNumber"
                 (ngModelChange)="filterBy()">
        </th>
        <th>
          <input type="text"
                 class="form-control"
                 id="filterEmail"
                 name="filterEmail"
                 [(ngModel)]="filters.email"
                 (ngModelChange)="filterBy()">
        </th>
        <th>
          <input type="text"
                 class="form-control"
                 id="filterFullName"
                 name="filterFullName"
                 [(ngModel)]="filters.fullName"
                 (ngModelChange)="filterBy()">
        </th>
        <th>
          <input type="text"
                 class="form-control"
                 id="filterPhone"
                 name="filterPhone"
                 [(ngModel)]="filters.phone"
                 (ngModelChange)="filterBy()">
        </th>
        <th>
          <input type="text"
                 class="form-control"
                 id="filterLastExperationDate"
                 name="filterLastExperationDate"
                 [(ngModel)]="filters.lastExperationDate"
                 (ngModelChange)="filterBy()">
        </th>
        <th>
          <select name="filterStatus"
                  id="filterStatus"
                  class="form-control"
                  [(ngModel)]="filters.status"
                  (ngModelChange)="filterBy()">
            <option value="">All</option>
            <option>Active</option>
            <option value="Experation Alert">About to be expired</option>
            <option>Expired</option>
            <option>Not Purchased</option>
          </select>
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="loadingTable">
      <tr>
        <td colspan="6">Loading...</td>
      </tr>
    </tbody>
    <tbody *ngIf="!loadingTable">
      <tr *ngFor="let subscriber of manipulatedTable; let i = index">
        <td>{{i + 1}}</td>
        <td>{{subscriber.macAddress}}</td>
        <td>
          <div style="width: 100px;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;">
            {{subscriber.lastSerialNumber}}
          </div>
        </td>
        <td>{{subscriber.email}}</td>
        <td>{{subscriber.fullName}}</td>
        <td>{{subscriber.phone}}</td>
        <td>{{subscriber.lastExperationDate | date: 'dd/MM/yyyy'}}</td>
        <td style="text-align: center;"
            [ngStyle]="{'box-shadow': subscriber.status == 'Active' ? 'inset 0 0 30px lime' : 
                        (subscriber.status == 'Expired' || subscriber.status == 'Not Purchased' ? 'inset 0 0 30px red': 
                        (subscriber.status == 'Experation Alert' ? 'inset 0 0 30px yellow' : 'inset 0 0 30px blue'))}">
          {{subscriber.status}}
        </td>
        <td style="text-align: center;">
          <button (click)="onOpenModal('Edit', subscriber)"
                  class="btn btn-primary"
                  style="padding: 0px 12px">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
          <button (click)="onOpenModal('Delete', subscriber)"
                  [disabled]="!authService.currentUser.allowedToUpdateSubscriber"
                  class="btn btn-danger"
                  style="padding: 0px 12px; margin-left: 5px;">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Modal -->
<div id="subscriberModal"
     class="modal fade"
     role="dialog"
     data-keyboard="false"
     data-backdrop="static">
  <div class="modal-dialog modal-lg"
  [ngStyle]="{'width': modalType == 'Edit' ? '70vw' : ''}">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center"
            translate>{{modalType}} Subscriber</h4>
      </div>
      <form (ngSubmit)="onSubmit()"
            class="form-horizontal"
            #form="ngForm">
        <div class="modal-body container-fluid"
             [ngStyle]="{'height': modalType != 'Delete' ? '75vh' : 'initial'}">
          <ng-container *ngIf="!generateSerialNumber">
            <ng-container *ngIf="dataIsReady">
              <ng-container *ngIf="subscriberToEdit && modalType != 'Delete'">
                <div class="form-group">
                  <h4>Contact Information:</h4>
                </div>
                <div class="form-group">
                  <label>Mac Address:</label>
                  <input type="text"
                         class="form-control"
                         id="macAddress"
                         name="macAddress"
                         placeholder="Mac address example: 98912984-c4e9-5ceb-8000-03882a0485e4"
                         [disabled]="modalType == 'Edit' && !authService.currentUser.allowedToUpdateSubscriber"
                         [(ngModel)]="subscriberToEdit.macAddress"
                         required>
                  <span *ngIf="macAddressAlreadyExists"
                        style="color: red">* This mac address already have a subscription.</span>
                </div>
                <div class="form-group">
                  <label>Email:</label>
                  <input type="email"
                         class="form-control"
                         id="email"
                         name="email"
                         placeholder="Enter your email"
                         pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
                         [disabled]="modalType == 'Edit' && !authService.currentUser.allowedToUpdateSubscriber"
                         [(ngModel)]="subscriberToEdit.email"
                         required>
                </div>

                <div class="form-group">
                  <label>Full Name:</label>
                  <input type="text"
                         class="form-control"
                         id="fullName"
                         name="fullName"
                         placeholder="Enter your full name"
                         [disabled]="modalType == 'Edit' && !authService.currentUser.allowedToUpdateSubscriber"
                         [(ngModel)]="subscriberToEdit.fullName"
                         required>
                </div>

                <div class="form-group">
                  <label>phone:</label>
                  <input type="text"
                         class="form-control"
                         id="phone"
                         name="phone"
                         placeholder="Enter your phone"
                         [disabled]="modalType == 'Edit' && !authService.currentUser.allowedToUpdateSubscriber"
                         [(ngModel)]="subscriberToEdit.phone">
                </div>

                <div *ngIf="modalType == 'Edit'"
                     class="form-group">
                  <label>Subscription Date: {{subscriberToEdit.subscriptionDate | date : 'dd/MM/yyyy'}}</label>
                </div>


                <!-- Create a New Activation -->
                <ng-container *ngIf="modalType == 'Add' || newSrialNumberMod">
                  <div class="form-group">
                    <hr>
                    <h4>Activate License Key:

                      <button *ngIf="modalType == 'Edit' && authService.currentUser.allowedToUpdateSubscriber"
                              type="button"
                              class="btn btn-success pull-right"
                              style="margin-left: 5px"
                              [ngClass]="{'btn-success': !newSrialNumberMod, 'btn-info': newSrialNumberMod}"
                              (click)="newSrialNumberMod = !newSrialNumberMod"
                              translate>{{newSrialNumberMod ? 'Back to history' : 'New Activation'}}</button>

                      <button type="button"
                              class="btn btn-info pull-right"
                              *ngIf="authService.currentUser.allowedToGenerateLicense"
                              (click)="openGenerateSerialNumber()"
                              translate>Generate License Key</button>
                    </h4>
                  </div>
                  <div class="form-group">
                    <label>License Key:</label>

                    <div class="input-group">
                      <input type="text"
                             class="form-control"
                             id="serialNumber"
                             name="serialNumber"
                             placeholder="Generate license key"
                             [(ngModel)]="newSerialNumberActivation.serialNumber"
                             required>
                      <span class="input-group-btn">
                        <button class="btn btn-info"
                                type="button"
                                [disabled]="!newSerialNumberActivation.serialNumber"
                                (click)="showFullLicenseKey = newSerialNumberActivation.serialNumber; copyLicenseToClipboard()">Copy</button>
                      </span>
                    </div>

                  </div>
                </ng-container>

                <!-- Create a new support purchase -->
                <ng-container *ngIf="modalType == 'Add' || newPurchaseMode">
                  <div class="form-group">
                    <hr>
                    <h4>New Support From:

                      <button *ngIf="modalType == 'Edit' && authService.currentUser.allowedToUpdateSubscriber"
                              type="button"
                              class="btn btn-success pull-right"
                              [ngClass]="{'btn-success': !newPurchaseMode, 'btn-info': newPurchaseMode}"
                              (click)="newPurchaseMode = !newPurchaseMode"
                              translate>{{newPurchaseMode ? 'Back to history' : 'New Purchase'}}</button>
                    </h4>
                  </div>
                  <div class="form-group">
                    <label>support starting date:</label>
                    <div class="ui-g-12 ui-md-12">
                      <p-calendar [(ngModel)]="newPurchase.purchaseDate"
                                  id="purchase"
                                  name="purchase"
                                  [readonlyInput]="true"
                                  [inputStyle]="{'cursor': 'pointer', 'width':'100%'}"
                                  dateFormat="dd/mm/yy"
                                  required></p-calendar>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>bundle options:</label>
                    <select name="bundleOptions"
                            id="bundleOptions"
                            class="form-control"
                            [(ngModel)]="selectedBundleOption"
                            required>
                      <option *ngFor="let option of bundleOptions"
                              [ngValue]="option.value">{{option.text}}</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>currency:</label>
                    <select name="currenciesOptions"
                            id="currenciesOptions"
                            class="form-control"
                            [(ngModel)]="newPurchase.currency"
                            required>
                      <option *ngFor="let option of currencies"
                              [ngValue]="option">{{option}}</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>cost:</label>
                    <input type="number"
                           name="cost"
                           id="cost"
                           class="form-control"
                           pattern="^([0-9]{0,9})$"
                           min="0"
                           max="999999999"
                           [(ngModel)]="newPurchase.cost"
                           required>
                  </div>
                </ng-container>
                <!-- Show history of serial numbers -->
                <ng-container *ngIf="modalType == 'Edit' && !newSrialNumberMod">
                  <div class="form-group">
                    <hr>
                    <h4>License History:

                      <button *ngIf="modalType == 'Edit' && authService.currentUser.allowedToUpdateSubscriber"
                              type="button"
                              class="btn btn-success pull-right"
                              style="margin-left: 5px"
                              [ngClass]="{'btn-success': !newSrialNumberMod, 'btn-info': newSrialNumberMod}"
                              (click)="newSrialNumberMod = !newSrialNumberMod"
                              translate>{{newSrialNumberMod ? 'Back to history' : 'New Activation'}}</button>
                    </h4>
                  </div>

                  <div class="form-group table-responsive purchase-history-container">
                    <table class="table purchase-history">
                      <thead>
                        <tr>
                          <th>Activation Date</th>
                          <th>License</th>
                          <th>Mac Address</th>
                          <th>Clients</th>
                          <th>Doors</th>
                          <th>Cameras</th>
                          <th>Zones</th>
                          <th>LPRs</th>
                          <th>Tags</th>
                          <th>Fire Detectors</th>
                          <th>Fingerprints</th>
                          <th>Face Recognitions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let serialNumberData of serialNumberHistory">
                          <tr>
                            <td>{{serialNumberData.activationDate | date: 'dd/MM/yyyy'}}</td>
                            <td>
                              <button type="button"
                                      class="btn btn-info"
                                      (click)="showFullLicenseKey = serialNumberData.serialNumber; copyLicenseToClipboard()">
                                Copy</button>
                            </td>
                            <td>{{serialNumberData.decodedLicense.macAddress}}</td>
                            <td>{{serialNumberData.decodedLicense.clients}}</td>
                            <td>{{serialNumberData.decodedLicense.doors}}</td>
                            <td>{{serialNumberData.decodedLicense.cameras}}</td>
                            <td>{{serialNumberData.decodedLicense.zones}}</td>
                            <td>{{serialNumberData.decodedLicense.lprs}}</td>
                            <td>{{serialNumberData.decodedLicense.tags}}</td>
                            <td>{{serialNumberData.decodedLicense.fireDetectors}}</td>
                            <td>{{serialNumberData.decodedLicense.fingerPrints}}</td>
                            <td>{{serialNumberData.decodedLicense.faceRecognitions}}</td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>


                </ng-container>

                <input id="fullLicenseToCopy"
                       name="fullLicenseToCopy"
                       style="opacity:0;"
                       [(ngModel)]="showFullLicenseKey">

                <!-- Show history of purchases -->
                <ng-container *ngIf="modalType == 'Edit' && !newPurchaseMode">
                  <div class="form-group">
                    <hr>
                    <h4>Support Purchase History:

                      <button *ngIf="modalType == 'Edit' && authService.currentUser.allowedToUpdateSubscriber"
                              type="button"
                              class="btn btn-success pull-right"
                              [ngClass]="{'btn-success': !newPurchaseMode, 'btn-info': newPurchaseMode}"
                              (click)="newPurchaseMode = !newPurchaseMode"
                              translate>{{newPurchaseMode ? 'Back to history' : 'New Purchase'}}</button>
                    </h4>
                  </div>

                  <div class="form-group table-responsive purchase-history-container">
                    <table class="table purchase-history">
                      <thead>
                        <tr>
                          <th>Purchase Date</th>
                          <th>Experation Date</th>
                          <th>Cost</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let purchase of purchasesHistory">
                          <td>{{purchase.purchaseDate | date: 'dd/MM/yyyy'}}</td>
                          <td>{{purchase.experationDate | date: 'dd/MM/yyyy'}}</td>
                          <td>{{purchase.cost}} {{purchase.currency}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="modalType == 'Delete'">
                <h3 style="text-align: center;">This change is permenant. Are you sure you want to continue?</h3>
              </ng-container>
            </ng-container>
            <app-loading *ngIf="!dataIsReady"></app-loading>
          </ng-container>
          <ng-container *ngIf="generateSerialNumber">
            <div class="form-group col-sm-12 input-license-data">
              <label>Mac Address:</label>
              <input type="text"
                     class="form-control"
                     name="newMacAddress"
                     placeholder="Mac address example: 9C:5C:8E:21:46:83"
                     id="newMacAddress"
                     [(ngModel)]="licenseData.macAddress"
                     required>
            </div>
            <div class="form-group col-sm-6 input-license-data">
              <label>Clients:</label>
              <input type="number"
                     class="form-control"
                     name="numOfClients"
                     pattern="^([0-9]{0,9})$"
                     min="0"
                     max="999999999"
                     id="numOfClients"
                     [(ngModel)]="licenseData.numOfClients"
                     required>
            </div>
            <div class="form-group col-sm-6 input-license-data">
              <label>Doors:</label>
              <input type="number"
                     class="form-control"
                     name="numOfDoors"
                     pattern="^([0-9]{0,9})$"
                     min="0"
                     max="999999999"
                     id="numOfDoors"
                     [(ngModel)]="licenseData.numOfDoors"
                     required>
            </div>
            <div class="form-group col-sm-6 input-license-data">
              <label>Cameras:</label>
              <input type="number"
                     class="form-control"
                     name="numOfCameras"
                     pattern="^([0-9]{0,9})$"
                     min="0"
                     max="999999999"
                     id="numOfCameras"
                     [(ngModel)]="licenseData.numOfCameras"
                     required>
            </div>
            <div class="form-group col-sm-6 input-license-data">
              <label>Security System Zones:</label>
              <input type="number"
                     class="form-control"
                     name="numOfZones"
                     pattern="^([0-9]{0,9})$"
                     min="0"
                     max="999999999"
                     id="numOfZones"
                     [(ngModel)]="licenseData.numOfZones"
                     required>
            </div>
            <div class="form-group col-sm-6 input-license-data">
              <label>LPRs:</label>
              <input type="number"
                     class="form-control"
                     name="numOfLprs"
                     pattern="^([0-9]{0,9})$"
                     min="0"
                     max="999999999"
                     id="numOfLprs"
                     [(ngModel)]="licenseData.numOfLprs"
                     required>
            </div>
            <div class="form-group col-sm-6 input-license-data">
              <label>Tags:</label>
              <input type="number"
                     class="form-control"
                     name="numOfTags"
                     pattern="^([0-9]{0,9})$"
                     min="0"
                     max="999999999"
                     id="numOfTags"
                     [(ngModel)]="licenseData.numOfTags"
                     required>
            </div>
            <div class="form-group col-sm-6 input-license-data">
              <label>Fire Detectors:</label>
              <input type="number"
                     class="form-control"
                     name="numOfFireDetectors"
                     pattern="^([0-9]{0,9})$"
                     min="0"
                     max="999999999"
                     id="numOfFireDetectors"
                     [(ngModel)]="licenseData.numOfFireDetectors"
                     required>
            </div>
            <div class="form-group col-sm-6 input-license-data">
              <label>Fingerprints:</label>
              <input type="number"
                     class="form-control"
                     name="numOfFingerprints"
                     pattern="^([0-9]{0,9})$"
                     min="0"
                     max="999999999"
                     id="numOfFingerprints"
                     [(ngModel)]="licenseData.numOfFingerprints"
                     required>
            </div>
            <div class="form-group col-sm-6 input-license-data">
              <label>Face Recognitions:</label>
              <input type="number"
                     class="form-control"
                     name="numOfFaceRecognitions"
                     pattern="^([0-9]{0,9})$"
                     min="0"
                     max="999999999"
                     id="numOfFaceRecognitions"
                     [(ngModel)]="licenseData.numOfFaceRecognitions"
                     required>
            </div>


          </ng-container>
        </div>

        <div class="modal-footer">
          <button type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                  translate>Close</button>
          <button *ngIf="!generateSerialNumber && (modalType === 'Add' || (modalType != 'Add' && authService.currentUser.allowedToUpdateSubscriber))"
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="!form.valid"
                  translate>Save Changes</button>

          <button *ngIf="generateSerialNumber"
                  type="button"
                  class="btn btn-primary"
                  (click)="generateSerialNumber = false"
                  translate>Cancel</button>

          <button *ngIf="generateSerialNumber"
                  type="button"
                  class="btn btn-primary"
                  [disabled]="!licenseData.macAddress || !form.valid"
                  (click)="generateNewSerialNumber()"
                  translate>Generate</button>
        </div>
      </form>
    </div>
  </div>
</div>