<h1>
  Logs
</h1>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>
          <select name="itemsPerP"
                  id="itemsPerP"
                  [(ngModel)]="itemsPerP"
                  (ngModelChange)="filterBy()">
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
          </select>
        </th>
        <th>Action</th>
        <th>Date</th>
        <th>Operator</th>
        <th class="action-column">
          <button class="btn btn-default"
                  [ngClass]="{'btn-default': !searchActive, 'btn-primary': searchActive}"
                  style="padding: 0px 12px; margin-left: 5px;"
                  (click)="searchActive = !searchActive">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </th>
      </tr>
      <tr [hidden]="!searchActive">
        <th></th>
        <th>
          <input type="text"
                 class="form-control"
                 id="filterAction"
                 name="filterAction"
                 [(ngModel)]="filters.action"
                 (ngModelChange)="filterBy()">
        </th>
        <th>
          <input type="text"
                 class="form-control"
                 id="filterDate"
                 name="filterDate"
                 [(ngModel)]="filters.date"
                 (ngModelChange)="filterBy()">
        </th>
        <th>
          <input type="text"
                 class="form-control"
                 id="filterUserName"
                 name="filterUserName"
                 [(ngModel)]="filters.userName"
                 (ngModelChange)="filterBy()">
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="loadingTable">
      <tr>
        <td colspan="6">Loading...</td>
      </tr>
    </tbody>
    <tbody *ngIf="!loadingTable">
      <tr *ngFor="let log of logsTable; let i = index">
        <td>{{i + 1}}</td>
        <td>{{log.action}}</td>
        <td>{{log.date | date:'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>{{log.userName}}</td>
        <td style="text-align: center;">
          <button (click)="onOpenModal(log)"
                  class="btn btn-primary"
                  style="padding: 0px 12px">
            <span class="glyphicon glyphicon-eye-open"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>






<button type="button"
        class="btn btn-info"
        (click)="changeP(-1,1)">
  First
</button>
<button type="button"
        class="btn btn-info"
        (click)="changeP(-1,0)">
  <span class="glyphicon glyphicon-arrow-left"></span>
</button>
<button type="button"
        class="btn btn-default show-current-p">
  {{currentP + 1}}
</button>
<button type="button"
        class="btn btn-info"
        (click)="changeP(1,0)">
  <span class="glyphicon glyphicon-arrow-right"></span>
</button>
<button type="button"
        class="btn btn-info"
        (click)="changeP(1,1)">
  Last
</button>

<!-- Modal -->
<div id="actionLogInfo"
     class="modal fade"
     role="dialog"
     data-keyboard="false"
     data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center"
            translate>Log Information</h4>
      </div>
      <form class="form-horizontal"
            #form="ngForm">

        <div class="modal-body container-fluid"
             *ngIf="logInfo">
          <label> Details: </label>
          <div *ngFor="let detail of logInfo['details']">
            <label> {{detail}} </label>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                  translate>Close</button>
        </div>
      </form>
    </div>
  </div>
</div>