<h1>
  Operators Management
</h1>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Index</th>
        <th class="clickable"
            (click)="onToggleSort('userName')">
          <span *ngIf="sorts.userName == 1"
                class="glyphicon glyphicon-sort-by-attributes"></span>
          <span *ngIf="sorts.userName == -1"
                class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          Operator Name
        </th>
        <th class="clickable"
            (click)="onToggleSort('fullName')">
          <span *ngIf="sorts.fullName == 1"
                class="glyphicon glyphicon-sort-by-attributes"></span>
          <span *ngIf="sorts.fullName == -1"
                class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          Full Name
        </th>
        <th class="clickable"
            (click)="onToggleSort('email')">
          <span *ngIf="sorts.email == 1"
                class="glyphicon glyphicon-sort-by-attributes"></span>
          <span *ngIf="sorts.email == -1"
                class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          Email
        </th>
        <th class="clickable"
            (click)="onToggleSort('phone')">
          <span *ngIf="sorts.phone == 1"
                class="glyphicon glyphicon-sort-by-attributes"></span>
          <span *ngIf="sorts.phone == -1"
                class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          Phone
        </th>
        <th class="action-column">
          <button class="btn btn-success"
                  style="padding: 0px 12px"
                  (click)="onOpenModal('Add')">
            <span class="glyphicon glyphicon-plus"></span>
          </button>

          <button class="btn btn-default"
                  [ngClass]="{'btn-default': !searchActive, 'btn-primary': searchActive}"
                  style="padding: 0px 12px; margin-left: 5px;"
                  (click)="searchActive = !searchActive">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </th>
      </tr>
      <tr [hidden]="!searchActive">
        <th></th>
        <th>
          <input type="text"
                 class="form-control"
                 id="filterUserName"
                 name="filterUserName"
                 [(ngModel)]="filters.userName"
                 (ngModelChange)="filterBy()">
        </th>
        <th>
          <input type="text"
                 class="form-control"
                 id="filterFullName"
                 name="filterFullName"
                 [(ngModel)]="filters.fullName"
                 (ngModelChange)="filterBy()">
        </th>
        <th>
          <input type="text"
                 class="form-control"
                 id="filterEmail"
                 name="filterEmail"
                 [(ngModel)]="filters.email"
                 (ngModelChange)="filterBy()">
        </th>
        <th>
          <input type="text"
                 class="form-control"
                 id="filterPhone"
                 name="filterPhone"
                 [(ngModel)]="filters.phone"
                 (ngModelChange)="filterBy()">
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="loadingTable">
      <tr>
        <td colspan="6">Loading...</td>
      </tr>
    </tbody>
    <tbody *ngIf="!loadingTable">
      <tr *ngFor="let user of manipulatedTable; let i = index">
        <td>{{i + 1}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.fullName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td style="text-align: center;">
          <button (click)="onOpenModal('Edit', user)"
                  class="btn btn-primary"
                  style="padding: 0px 12px">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
          <button (click)="onOpenModal('Delete', user)"
                  class="btn btn-danger"
                  style="padding: 0px 12px; margin-left: 5px;">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<!-- Modal -->
<div id="editCellModal"
     class="modal fade"
     role="dialog"
     data-keyboard="false"
     data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center"
            translate>{{modalType}} User</h4>
      </div>
      <form (ngSubmit)="onSubmit()"
            class="form-horizontal"
            #form="ngForm">

        <div class="modal-body container-fluid">
          <ng-container *ngIf="userToEdit && modalType != 'Delete'">
            <div class="form-group">
              <label>Operator Name:</label>
              <input type="text"
                     class="form-control"
                     id="customUserName"
                     name="customUserName"
                     [(ngModel)]="userToEdit.userName"
                     required>
              <span *ngIf="userNameAlreadyExists"
                    style="color: red">* This operator name already taken.</span>
            </div>

            <div class="form-group">
              <label>Password:</label>
              <input type="password"
                     class="form-control"
                     id="customPassword"
                     name="customPassword"
                     [(ngModel)]="userToEdit.password">
              <span *ngIf="passwordEmptyError"
                    style="color: red">* Please insert new password.</span>
              <span *ngIf="modalType == 'Edit'"
                    style="color: red">* Fill only if you want to change password.</span>
            </div>

            <div class="form-group">
              <label>Full Name:</label>
              <input type="text"
                     class="form-control"
                     id="fullName"
                     name="fullName"
                     [(ngModel)]="userToEdit.fullName"
                     required>
            </div>

            <div class="form-group">
              <label>Email:</label>
              <input type="email"
                     class="form-control"
                     id="email"
                     name="email"
                     [(ngModel)]="userToEdit.email">
            </div>

            <div class="form-group">
              <label>phone:</label>
              <input type="text"
                     class="form-control"
                     id="phone"
                     name="phone"
                     [(ngModel)]="userToEdit.phone">
            </div>

            <div class="form-group">
              <hr>
              <h3>Permissions</h3>
            </div>

            <div class="form-group form-check">
              <input type="checkbox"
                     class="form-check-input"
                     name="allowedToCreateUser"
                     id="allowedToCreateUser"
                     [(ngModel)]="userToEdit.allowedToCreateUser">
              <label class="form-check-label"
                     for="allowedToCreateUser">Create Operators</label>
            </div>

            <div class="form-group form-check">
              <input type="checkbox"
                     class="form-check-input"
                     name="allowedToCreateSubscriber"
                     id="allowedToCreateSubscriber"
                     [(ngModel)]="userToEdit.allowedToCreateSubscriber">
              <label class="form-check-label"
                     for="allowedToCreateSubscriber">Create Subscribers</label>
            </div>

            <div class="form-group form-check">
              <input type="checkbox"
                     class="form-check-input"
                     name="allowedToUpdateSubscriber"
                     id="allowedToUpdateSubscriber"
                     [(ngModel)]="userToEdit.allowedToUpdateSubscriber">
              <label class="form-check-label"
                     for="allowedToUpdateSubscriber">Update Subscribers</label>
            </div>

            <div class="form-group form-check">
              <input type="checkbox"
                     class="form-check-input"
                     name="allowedToGenerateLicense"
                     id="allowedToGenerateLicense"
                     [(ngModel)]="userToEdit.allowedToGenerateLicense">
              <label class="form-check-label"
                     for="allowedToGenerateLicense">Generate License</label>
            </div>
          </ng-container>
          <ng-container *ngIf="modalType == 'Delete'">
            <h3 style="text-align: center;">This change is permenant. Are you sure you want to continue?</h3>
          </ng-container>
        </div>

        <div class="modal-footer">
          <button type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                  translate>Close</button>
          <button type="submit"
                  class="btn btn-primary"
                  [disabled]="!form.valid"
                  translate>Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>