h1 {
    color: white;
}

table {
    color: black;
    background-color: rgba(255, 255, 255, 0.465);
}

tr{
    font-weight: bold;
}

thead tr {
    background-color: #0e1bb7;
    ;
    color: white;
}

tbody tr:hover {
    color: black;
}

.modal-header {
    background-color: #0e1bb7;
    ;
    color: white;
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
}

.container-fluid {
    padding: 10px 50px;
}

.action-column {
    width: 120px;
    text-align: center;
}

/* table thead tr {
    display: block;
} */

/* table tbody {
    display: block;
    height: 200px;
    overflow: auto;
}

table tbody tr{
    width: 100%;
    display: inline-table;
} */