.clickable {
    cursor: pointer;
}

hr {
    border-top: 1px solid black;
}

.modal-body{
    background-color: gainsboro;
}

.btn.btn-info{
    background-color: #00a3d4;
}

.form-check-label, .form-check-input{
    cursor: pointer;
}