#bg {
    background: url('../../../assets/images/website-backgrounds.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}

/* carusel */

.overlay {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* end carusel */

/* logo */

.logo {
    position: absolute;
    top: 25px;
    left: 30px;
}

.logo img {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

@media only screen and (max-width: 768px) {
    .logo {
        position: absolute;
        top: 25px;
        left: 13px;
    }
    .logo img {
        width: 120px;
        height: 40px;
    }
    img.background-image {
        height: -webkit-fill-available !important;
    }
}

/* end logo */

/* translte */

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 13px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    float: right;
    top: 10px;
    right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    cursor: pointer;
}

.dropdown-content a {
    color: black;
    padding: 5px 8px 5px 44px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #eee1e1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(255, 1, 1, 0.8);
}

/* for desktop */

@media only screen and (min-width: 768px) {
    .lang {
        position: absolute;
        top: 10px;
        right: 35px;
    }
    .dropbtn {
        padding: 16px;
        font-size: 20px;
    }
    .dropdown-content a {
        padding: 14px 8px 14px 44px;
    }
}

/* login */

form {
    -webkit-animation: fadeIn 1s;
    /* Safari 4.0 - 8.0 */
    animation: fadeIn 1s;
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Standard syntax */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.login-page {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    text-align: center;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    height: 50px;
    border: 0;
    margin: 0 0 15px;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgba(255, 1, 1, 0.8);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button[disabled] {
    background: rgba(185, 185, 185, 0.8);
    cursor: not-allowed;
}

.form button:hover, .form button:active, .form button:focus {
    background: rgb(58, 58, 58);
}

.user-icon {
    float: right;
    margin-right: 10px;
    margin-top: -48px;
    position: relative;
    z-index: 2;
    font-size: 17px;
}

.password-icon {
    float: right;
    margin-right: 14px;
    margin-top: -49px;
    position: relative;
    z-index: 2;
    font-size: 19px;
}

.phone-icon {
    float: right;
    margin-right: 11px;
    margin-top: -55px;
    position: relative;
    z-index: 2;
    font-size: 29px;
}

@media only screen and (max-width: 768px) {
    .login-page {
        top: 56%;
        width: 95%;
    }
}

.wrongLogin {
    color: #fb0606cc
}

.form-link {
    font-family: "Roboto", sans-serif;
    margin-top: 15px;
    text-align: center;
}

.form-link a {
    cursor: pointer;
}

hr {
    border-top: 1px solid #b8b8b8;
}

/* end login */

/* services */

.container-fluid {
    padding: 60px 50px;
}

.bg-grey {
    background-color: #f6f6f6;
}

.logo-small {
    color: rgba(255, 1, 1, 0.8);
    font-size: 50px;
}

.slideanim {
    visibility: hidden;
}

.slider {
    animation-name: slider;
    -webkit-animation-name: slider;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slider {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slider {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/* end services */

/* goolge maps */

agm-map {
    height: 400px;
}

/* end google maps */

/* Loading... */

.spinner {
    margin: 30px auto 0;
    width: 70px;
    text-align: center;
}

.spinner>div {
    width: 18px;
    height: 18px;
    /*  background-color: #333; */
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
    /*  background-color:rgba(0, 38, 255, 0.698) */
    background-color: rgb(0, 255, 128)
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    /* background-color:rgba(0, 140, 255, 0.671) */
    background-color: rgba(102, 255, 0, 0.671)
}

.spinner .bounce3 {
    /* background-color:rgba(0, 195, 255, 0.623) */
    background-color: rgba(179, 255, 0, 0.623)
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

/* End loading...*/

.small-image {
    position: absolute;
    width: 250px;
    height: 250px;
    z-index: 9999999;
    top: 450px;
    left: 0px;
}