<div id="bg">


  <div class="login-page">
    <div class="form">
      <form class="login-form">

        <input type="text"
               id="userName"
               name="new-userName"
               placeholder="User Name"
               [(ngModel)]="userName"
               readonly
               onfocus="this.removeAttribute('readonly')" />
        <i class="fa fa-user-circle-o user-icon"
           aria-hidden="true"></i>

        <input type="password"
               name="new-password"
               placeholder="Password"
               [(ngModel)]="password"
               readonly
               onfocus="this.removeAttribute('readonly')" />
        <i class="fa fa-lock password-icon"
           aria-hidden="true"></i>

        <!-- select company -->

        <select name="companySelect"
                id="companySelect"
                class="form-control"
                [(ngModel)]="corporationData.corporationId"
                (ngModelChange)="corporationData.filterCorporationsWebSitesByCorporationId()">
          <ng-container *ngIf="corporationData">
            <option *ngFor="let option of corporationData.corporations"
                    [ngValue]="option.corporationId">{{option.corporationName}}</option>
          </ng-container>
        </select>

        <!-- select website -->
        <select name="webSiteSelect"
                id="webSiteSelect"
                class="form-control"
                [(ngModel)]="corporationData.corporationWebsiteId">
          <ng-container *ngIf="corporationData">
            <option *ngFor="let option of corporationData.filteredCorporationsWebSites"
                    [ngValue]="option.corporationWebsiteId">{{option.websiteName}}</option>
          </ng-container>
        </select>

        <button (click)=login()
                [hidden]="isLoginBtnHidden"
                translate>Login</button>
        <hr>
        <!-- <div class="row form-link">
        <a (click)="formState = 'forgot_password'"
           translate>GENERAL_ForgotPssword</a>
      </div> -->
      </form>


      <div *ngIf="checkLogin"
           class="spinner">
        <h4 translate>HOME_Loading</h4>
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <div *ngIf="wrongLogin"
           class="wrongLogin">
        <br>
        <h5 translate>Login data is incorrect</h5>
        <h4 translate>Please try again</h4>
      </div>
    </div>

  </div>
</div>